<!DOCTYPE html>
<html lang="en">

<body>

  <h1>This is Y!</h1>
  <p class="subtitle">The best site to share your stories</p>
  <div class="row">
  <div class="col-md-12">
    <%= image_tag "cedar point.jpg", alt: "Description of the image" %>
  </div>
  </div>


</body>
</html>

