<footer class="footer bg-primary text-light fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <p>&copy; </p>
      </div>
      <div class="col-md-10 text-right">
        <a href="https://www.facebook.com" class="text-light mr-3" aria-label="Facebook"><i class="fab fa-facebook-f"></i> Facebook</a>
        <a href="https://www.twitter.com" class="text-light mr-3" aria-label="Twitter"><i class="fab fa-twitter"></i> Twitter</a>
        <a href="https://www.instagram.com" class="text-light mr-3" aria-label="Instagram"><i class="fab fa-instagram"></i> Instagram</a>
        <a href="https://www.linkedin.com" class="text-light mr-3" aria-label="LinkedIn"><i class="fab fa-linkedin"></i> LinkedIn</a>
      </div>
    </div>
  </div>
</footer>


